extends scaffold

block content
  div#map_canvas(style="position: relative; height:380px; width:100%; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0px);")

block botom_scripts
  