doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Introducing Lollipop, a sweet new take on Android.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Sirc
    // Page styles
    link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/css/material.min.css')
    link(rel='stylesheet', href='/css/index.css')
    style.
      #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
      }
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      .android-header.mdl-layout__header.mdl-layout__header--waterfall
        .mdl-layout__header-row
          span.android-title.mdl-layout-title
            img.android-logo-image(src='images/logo_iqb.png', style="height:25px; width:25px;")
          // Add spacer, to align navigation to the right in desktop
          .android-header-spacer.mdl-layout-spacer
          .android-search-box.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-textfield--full-width
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search-field')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#search-field.mdl-textfield__input(type='text')
          // Navigation
          .android-navigation-container
            nav.android-navigation.mdl-navigation
              a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Inicio
              a.mdl-navigation__link.mdl-typography--text-uppercase(href='/auth/facebook') Login
          button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
            li.mdl-menu__item Login
          span.android-mobile-title.mdl-layout-title
            img.android-logo-image(src='/images/logo_iqb.png', style="height:30px; width:30px; top:5px;")
      .android-drawer.mdl-layout__drawer
        span.demo-drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
          center
            img.android-logo-image(src='images/logo_iqb.png', style='width:30px;')
            | SIRC
        nav.mdl-navigation
          a.mdl-navigation__link(href='/') Inicio
          a.mdl-navigation__link(href='/auth/facebook') Login
      .android-content.mdl-layout__content
        a(name='top')
        .android-be-together-section.mdl-typography--text-center
          center
            img(src="/images/iot-2.png" style="margin-top:10px; width:35%")
          .android-font.android-slogan Sistema Inteligente de Reconocimiento Contextual
          .android-font.android-sub-slogan Trabajamos para mejorar tu calidad de vida y la de tu ciudad
          .android-font.android-create-character
            
            div#map(style="width:100%; height:400px;")
          a(href='#screens')
            button.android-fab.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
              i.material-icons expand_more
        .android-wear-section
          .android-wear-band
            .android-wear-band-text
              .mdl-typography--display-2.mdl-typography--font-thin The best of Google built in
              p.mdl-typography--headline.mdl-typography--font-thin
                | Android works perfectly with your favourite apps like Google Maps,
                | Calendar and YouTube.
              p
                a.mdl-typography--font-regular.mdl-typography--text-uppercase.android-alt-link(href='')
                  | See what's new in the Play Store 
                  i.material-icons chevron_right
        footer.android-footer.mdl-mega-footer
          .mdl-mega-footer--top-section
            .mdl-mega-footer--left-section
              button.mdl-mega-footer--social-btn
              button.mdl-mega-footer--social-btn
              button.mdl-mega-footer--social-btn
            .mdl-mega-footer--right-section
              a.mdl-typography--font-light(href='#top')
                | Back to Top
                i.material-icons expand_less
          .mdl-mega-footer--middle-section
            p.mdl-typography--font-light Satellite imagery: © 2014 Astrium, DigitalGlobe
            p.mdl-typography--font-light Some features and devices may not be available in all areas
          .mdl-mega-footer--bottom-section
            a#version-dropdown.android-link.android-link-menu.mdl-typography--font-light
              | Versions
              i.material-icons arrow_drop_up
            ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='version-dropdown')
              li.mdl-menu__item 5.0 Lollipop
              li.mdl-menu__item 4.4 KitKat
              li.mdl-menu__item 4.3 Jelly Bean
              li.mdl-menu__item Android History
            a#developers-dropdown.android-link.android-link-menu.mdl-typography--font-light
              | For Developers
              i.material-icons arrow_drop_up
            ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='developers-dropdown')
              li.mdl-menu__item App developer resources
              li.mdl-menu__item Android Open Source Project
              li.mdl-menu__item Android SDK
              li.mdl-menu__item Android for Work
            a.android-link.mdl-typography--font-light(href='') Blog
            a.android-link.mdl-typography--font-light(href='') Privacy Policy
    a#view-source.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent.mdl-color-text--accent-contrast(href='https://github.com/login', target='_blank') View Source
    script(src='/js/material.min.js')
    script(src='https://maps.google.com/maps/api/js?sensor=true')
    script(src='/js/gmaps.js')
    script(src='/js/index.js')
